body {
    background-image: url("../img/cheese2.jpg");
}
h1 {
    text-align: center;
    color: brown;
    font-family:  'Georgia', Arial, serif;
    font-size: 3em;
}
p {
    text-align: center;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}
.baddie{
	position: absolute;
	height: 50px;
	width: 50px;

	/* ASSIGNMENT
	 * Change baddie image to your own baddie or character */
	background: url("../img/Mouse.png");

	background-size: 50px;
}
.baddieflip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}
