h1, h2, h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  	font-weight: 100;
}


body, p {
  background: white;
  font-family: Georgia, serif;
  height: 100%;
  text-align: center;
  font-size: 12px;
}


#content {
	border: 1px solid black;
	background-color: #eee;
	padding: 2em;
	margin: 0 auto;
	height: 500px;
	width: 800px;
	border-radius: 30px;
}
#hangman_form .char{
	width:2em;
	height:2em;
	border-radius:2em;
	border:2px dotted red;
	color:#333;
	background-color:#999;
	margin:2px;
}

#hangman_form .char:hover { 
	cursor:crosshair;
	border:2px dotted black;
	background-color:green;
}

#hangman_form input[disabled],
#hangman_form input[disabled]:hover {
	cursor:auto;
	background-color:#ccc;
	border:2px dotted #999;
}
.wrapper{

  width:50%;
  margin:0 auto;
}
.button{
  background-color: pink;
  color:$white;
  border: solid 10px $white;
  text-decoration:none;
  cursor:pointer;
  font-size:5em;
  padding:20px 20px;
  width:80px;
  margin: 0px;
  outline: none;
  
    .button:hover{
      background:$white;
      border: solid 1px $white;
      color:$base-color;
    }
}
.clickable


#alphabet {
  margin: 10px auto;
  padding: 0;
  max-width: 380px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  text-align: center;
  margin: 0px 10px 10px 0px;
  list-style: none;
  width: 40px;
  height: 40px;

  background-color: #AC1354;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px black;
}
#alphabet li:hover {
  background: pink;
  color: #fff;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}



